$main-background: #191765;

body {
  background-color: $main-background !important;

}

.card-body {
  background-color: $main-background;
}

.card-title,
.card-body,
.card-text {
  color: #fff;
}

.main-text-color {
  color: #9390ff;
}

.nav-brand {
  text-decoration: none;
}

.secondary-text-color, 
.nav li a,
ul li {
  color: #fff;
}

ul {
  list-style-type: none;
}

.skills-flex {
  display: flex;
}

.skills {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.skills li {
  align-self: flex-start;
  margin-bottom: 3px;
}

.work-arrow-down {
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 22px;
gap: 5px;
width: 100%;
margin-top: 15px;
}

.work-arrow-down * {
  display: flex;
  gap: 12px;
  height: 22px;
}

.flex-arrow * {
  color: #b3bac5;
}

.arrow-down,
.link-icon {
  height: 100%;
}

.project-cards {
  display:flex;
  flex-direction: column;
  width: 100%;

}

.card {
  align-self: center;
  width: 75%;
}

